<footer class="footer footer--sponsors">
    <div class="wrapper">
        <h2>With support from</h2>
            <div class="footer--sponsors__grid-unit">
                <div class="sponsor-thumb">
                    <a href="http://www.heartinternet.uk" rel="nofollow">
                        <img src="{{ "heart-internet.jpg" | asset_url }}" alt="Heart Internet Logo" />
                    </a>
                </div>
            </div><!--
            --><div class="footer--sponsors__grid-unit">
                <div class="sponsor-thumb">
                    <a href="http://zengenti.com/en-gb/index.aspx" rel="nofollow">
                        <img src="{{ "zengenti.jpg" | asset_url }}" alt="Zengenti Logo" />
                    </a>
                </div>
            </div><!--
            --><div class="footer--sponsors__grid-unit">
                <div class="sponsor-thumb">
                    <a href="http://www.pebblepad.co.uk/" rel="nofollow">
                        <img src="{{ "PebblePad.jpg" | asset_url }}" alt="PebblePad Logo" />
                    </a>
                </div>
            </div><!--
            --><div class="footer--sponsors__grid-unit">
                <div class="sponsor-thumb">
                    <a href="http://www.greenfield-it.co.uk/" rel="nofollow">
                        <img src="{{ "greenfields.jpg" | asset_url }}" alt="Greenfield IT Logo" />
                    </a>
                </div>
            </div><!--
            --><div class="footer--sponsors__grid-unit">
                <div class="sponsor-thumb">
                    <a href="http://www.theweborchard.com/">
                        <img src="{{ "web-orchard.jpg" | asset_url }}" alt="The Web Orchard Logo" />
                    </a>
                </div>
            </div><!--
            --><div class="footer--sponsors__grid-unit">
                <div class="sponsor-thumb">
                    <a href="http://www.psycle.com/" rel="nofollow">
                        <img src="{{ "psycle.jpg" | asset_url }}" alt="Psycle Logo" />
                    </a>
                </div>
            </div><!--
            --><!--<div class="footer--sponsors__grid-unit">
                <div class="sponsor-thumb">
                    <a href="http://www.siftware.com/" rel="nofollow">
                        <img src="{{ "siftware.jpg" | asset_url }}" alt="Siftware Logo" />
                    </a>
                </div>
            </div><!--
            -->
        </div>
<!-- second row of sponsors saved in sponsors.row2 as couldn't comment out -->

        </div>
    </div>
</footer>