
        
        <div class="footer--sponsors__grid-row">
            <div class="footer--sponsors__grid-unit--minor">
                <div class="sponsor-thumb">
                    <a href="#">
                        <img src="{{ "empty-sponsor.png" | asset_url }}" alt="" />
                    </a>
                </div>
            </div><!--
            --><div class="footer--sponsors__grid-unit--minor">
                <div class="sponsor-thumb">
                    <a href="#">
                        <img src="{{ "empty-sponsor.png" | asset_url }}" alt="" />
                    </a>
                </div>
            </div><!--
            --><div class="footer--sponsors__grid-unit--minor">
                <div class="sponsor-thumb">
                    <a href="#">
                        <img src="{{ "empty-sponsor.png" | asset_url }}" alt="" />
                    </a>
                </div>
            </div><!--
            --><div class="footer--sponsors__grid-unit--minor">
                <div class="sponsor-thumb">
                    <a href="#">
                        <img src="{{ "empty-sponsor.png" | asset_url }}" alt="" />
                    </a>
                </div>
            </div><!--
            --><div class="footer--sponsors__grid-unit--minor">
                <div class="sponsor-thumb">
                    <a href="#">
                        <img src="{{ "empty-sponsor.png" | asset_url }}" alt="" />
                    </a>
                </div>
            </div><!--
            --><div class="footer--sponsors__grid-unit--minor">
                <div class="sponsor-thumb">
                    <a href="#">
                        <img src="{{ "empty-sponsor.png" | asset_url }}" alt="" />
                    </a>
                </div>
            </div><!--
            --><div class="footer--sponsors__grid-unit--minor">
                <div class="sponsor-thumb">
                    <a href="#">
                        <img src="{{ "empty-sponsor.png" | asset_url }}" alt="" />
                    </a>
                </div>
            </div><!--
            --><div class="footer--sponsors__grid-unit--minor">
                <div class="sponsor-thumb">
                    <a href="#">
                        <img src="{{ "empty-sponsor.png" | asset_url }}" alt="" />
                    </a>
                </div>
            </div><!--
            -->