<div class="about__team__volunteers-grid-unit">
                    <h3>Volunteers</h3>
                    <ul class="volunteers__list">
                        <li>
                            <div class="media-block volunteer">
                                <img src="{{ "kirsty.jpg" | asset_url }}">
                                <div>
                                    <p class="person__name">Kirsty Burgoine</p>
                                    <p class="person__link"><a href="http://twitter.com/kirstyburgoine">@kirstyburgoine</a></p>
                                </div>
                            </div>
                        </li><!--
                        --><li>
                            <div class="media-block volunteer">
                                <img src="{{ "kirsty.jpg" | asset_url }}">
                                <div>
                                    <p class="person__name">Kirsty Burgoine</p>
                                    <p class="person__link"><a href="http://twitter.com/kirstyburgoine">@kirstyburgoine</a></p>
                                </div>
                            </div>
                        </li><!--
                        --><li>
                            <div class="media-block volunteer">
                                <img src="{{ "kirsty.jpg" | asset_url }}">
                                <div>
                                    <p class="person__name">Kirsty Burgoine</p>
                                    <p class="person__link"><a href="http://twitter.com/kirstyburgoine">@kirstyburgoine</a></p>
                                </div>
                            </div>
                        </li><!--
                        --><li>
                            <div class="media-block volunteer">
                                <img src="{{ "kirsty.jpg" | asset_url }}">
                                <div>
                                    <p class="person__name">Kirsty Burgoine</p>
                                    <p class="person__link"><a href="http://twitter.com/kirstyburgoine">@kirstyburgoine</a></p>
                                </div>
                            </div>
                        </li><!--
                        --><li>
                            <div class="media-block volunteer">
                                <img src="{{ "kirsty.jpg" | asset_url }}">
                                <div>
                                    <p class="person__name">Kirsty Burgoine</p>
                                    <p class="person__link"><a href="http://twitter.com/kirstyburgoine">@kirstyburgoine</a></p>
                                </div>
                            </div>
                        </li><!--
                        --><li>
                            <div class="media-block volunteer">
                                <img src="{{ "kirsty.jpg" | asset_url }}">
                                <div>
                                    <p class="person__name">Kirsty Burgoine</p>
                                    <p class="person__link"><a href="http://twitter.com/kirstyburgoine">@kirstyburgoine</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>