{% block title %}About (R)evolution{% endblock %}
{% block open-wrapper %}
{% endblock %}
{% block content %}
<div class="hero general__hero hero--short">
    <div class="wrapper">
        <h1>About (R)evolution</h1>
        <p class="subtitle subtitle__single"><span>An epic day of adventure and exploration</span></p>
    </div>
    <div class="general__hero-monster-dude about__hero-monster-dude"></div>
</div>
<div class="page-content about__content">
    <div class="wrapper">
        <div class="about__grid-row">
            <div class="about__blurb-grid-unit">
                <div class="about__blurb">
                    <h2>Shropshire's Original Web Conference</h2>
                    <p>This September, 250 people from just about every sort of digital job will join us in the 'Shire for a world-class, full-day web conference. Entrepreneurs, professionals and geeks of every description  will share what makes things faster, stronger, and better in the town of Darwin's birth. This is the (R)Evolution's 5th year, and we're proud to say: </p>

                    <p><strong>It keeps getting better!</strong></p>

                    <p>Our speakers represent many digital disciplines – from design and user experience, to strategy and production. Each one brings years of experience and will share their unique perspective. </p>

                    <p>We have always been a friendly conference, because we started (and <a href="http://shropgeek.co.uk">continue</a>!) as a gathering of like-minded digital professionals over beer and discussion. There's a lot to fit into a single day, but we always make room for discussion and questions.</p>

                    <p>We believe in supporting the UK's digital community, and welcome anyone interested in the web.</p>
                </div>
            </div>
            <div class="about__image-grid-unit">
                <div class="about__image-twitter-box">
                    <a href="https://twitter.com/shropgeek" target="_blank">
                        <h3>Follow @shropgeek on Twitter</h3>
                    </a>
                </div>
                <img src="/assets/img/about-blurb-img.jpg" alt="Previous conference photo">
            </div>
        </div>
    </div>
</div>
<div class="about__team">
    <div class="wrapper">
        <div class="about__grid-row">
            <div class="about__team__team-grid-unit">
                <div class="about__team__team">
                    <h2>The team</h2>
                    <ul class="about__team__list">
                        <li class="about__team__list__item">
                            <div class="person">
                                <img src="{{ "kirsty-burgoine.png" | asset_url }}">
                                <div>
                                    <h3 class="person__name"><span>Kirsty</span> Burgoine</h3>
                                    <p class="person__link"><a href="https://twitter.com/kirstyburgoine" target="_blank">@kirstyburgoine</a></p>
                                </div>
                                <p class="person__description">Web designer / developer living in Shropshire. WordPress specialist. Owner of <a href="www.kirstyburgoine.co.uk" target="_blank">Kirsty Burgoine Ltd</a>.
                                <br>Organiser of <a href="https://twitter.com/shropgeek" target="_blank">@shropgeek</a></p>
                            </div>
                        </li>
                        <li class="about__team__list__item">
                            <div class="person">
                                <img src="{{ "pete-white.png" | asset_url }}">
                                <div>
                                    <h3 class="person__name"><span>Pete</span> White</h3>
                                    <p class="person__link"><a href="http://twitter.com/kingpetey" target="_blank">@kingpetey</a></p>
                                </div>
                                <p class="person__description">Shrewsbury based Web Developer, Drupal Specialist, Blogger, Shropgeeker and Love Shrewsbury Editor. Director at <a href="http://www.info-sol.co.uk" target="_blank">Information Solutions</a> and <a href="http://www.theweborchard.com" target="_blank">The Web Orchard</a>.</p>
                            </div>
                        </li>
                        <li class="about__team__list__item">
                            <div class="person">
                                <img src="{{ "zach-beauvais.png" | asset_url }}">
                                <div>
                                    <h3 class="person__name"><span>Zach</span> Beauvais</h3>
                                    <p class="person__link"><a href="https://twitter.com/beauvais" target="_blank">@beauvais</a></p>
                                </div>
                                <p class="person__description">Writer, evangelist, strategist: telling stories, exploring ideas, nurturing communities.</p>
                            </div>
                        </li>
                        <li class="about__team__list__item">
                            <div class="person">
                                <img src="{{ "stina-jones.png" | asset_url }}">
                                <div>
                                    <h3 class="person__name"><span>Stina</span> Jones</h3>
                                    <p class="person__link"><a href="https://twitter.com/stina_jones" target="_blank">@stina_jones</a></p>
                                </div>
                                <p class="person__description">Freelance <a href="http://stinajones.co.uk" target="_blank">Illustrator and Graphic Designer</a>, producing fully bespoke imagery for everything from print and web marketing campaigns, through to large scale artworks and character doodles.</p>
                            </div>
                        </li>
                        <li class="about__team__list__item">
                            <div class="person">
                                <img src="{{ "mike-hince.png" | asset_url }}">
                                <div>
                                    <h3 class="person__name"><span>Mike</span> Hince</h3>
                                    <p class="person__link"><a href="https://twitter.com/zer0mike" target="_blank">@zer0mike</a></p>
                                </div>
                                <p class="person__description">Experienced UI/UX designer, creating apps and sites for international clients at his own studio, <a href="http://bossanova.io" target="_blank">Bossanova Design</a>. Mike is also the founder of comedy startup <a href="http://howler.co" target="_blank">Howler</a>.</p>
                            </div>
                        </li>
                        <li class="about__team__list__item">
                            <div class="person">
                                <img src="{{ "emma-davis.png" | asset_url }}">
                                <div>
                                    <h3 class="person__name"><span>Emma</span> Davis</h3>
                                    <p class="person__link"><a href="https://twitter.com/EmmaDavis_uk" target="_blank">@EmmaDavis_uk</a></p>
                                </div>
                                <p class="person__description">Web developer and consultant based in north of Shrewsbury focused on e-commerce and helping indie retailers get online. Owner &amp; director of <a href="http://thewebbakery.co.uk" target="_blank">The Web Bakery (UK) Ltd</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="buy--tickets" id="buy--tickets-button">
    <a href="/tickets">
        <div class="buy--tickets_button">
            Buy Tickets
        </div>
        <div class="buy--tickets_button-bg" id="buy--tickets-button-swirl">
            <img src="{{ "swirl-for-button.svg" | asset_url }}" alt="But Tickets background">
        </div>
    </a>
</div>

{% endblock %}
{% block close-wrapper %}
{% endblock %}
