{% block title %}Fringe{% endblock %}
{% block open-wrapper %}
{% endblock %}
{% block content %}
<div class="hero general__hero hero--short">
    <div class="wrapper">
        <h1>Fringe</h1>
        <p class="subtitle subtitle__single"><span>Delving into new strange fields of mystery</span></p>
    </div>
    <div class="general__hero-monster-dude"></div>
</div>
<main class="page-content">
    <div class="wrapper">
        <h2>Official events</h2>
        <div class="fringe-event" id="rebellion">
            <img src="{{ "rebellion.jpg" | asset_url }}" >
            <div>
                <h3 class="fringe-event__title">Shropgeek Rebellion</h3>
                <p class="fringe-event__time">6:30pm, Thursday September 24th 2015</p>
                <div class="fringe-event__description">
                    <p>Rebellion is our quarterly event featuring talks from industry folk. We're putting on a special Rebellion the night before the conference, as a warm up. More details will be announced soon.</p>
                </div>
                <p class="fringe-event__location"><a href="http://www.thealb.co.uk/">The Alb, Shrewsbury, SY1 1PB</a></p>
            </div>
        </div>
        <div class="fringe-event" id="party">
            <img src="{{ "afterparty.jpg" | asset_url }}" >
            <div>
                <h3 class="fringe-event__title">After Party</h3>
                <p class="fringe-event__time">7:30pm, Friday September 25th 2015</p>
                <div class="fringe-event__description">
                    <p>You know what they say, if it ain't broke... Last year's after party has become something of a legend, so of course we are going to do it all over again! <!--Held at Romolo, Shrewsbury's only waterside cocktail lounge, there will be some money behind the bar, some crazy cocktails and Shropshire's MisterFox as DJ!--></p>
                </div>
                <p class="fringe-event__location">Venue TBC</p>
            </div>
        </div>
        <div class="fringe-event" id="breakfast">
            <img src="{{ "breakfast.jpg" | asset_url }}" >
            <div>
                <h3 class="fringe-event__title">Shropgeek breakfast</h3>
                <p class="fringe-event__time">9:30am, Saturday September 26th 2015</p>
                <div class="fringe-event__description">
                    <p>After an epic day of adventure and discovery we'll all need a monster breakfast to recover. Come and join us in Carluccio's, and enjoy a good chat over a high-quality cup of coffee and a bite to eat while you wait for your train home.</p>
                </div>
                <p class="fringe-event__location"><a href="http://www.carluccios.com/restaurants/shrewsbury">Carluccio's, 14 The Square, Shrewsbury, SY1 1LN</a></p>
            </div>
        </div>
    </div>
    <div class="about-shrewsbury">
        <div class="wrapper">
            <h2>Shrewsbury</h2>
            <p>We love our town and think you'd be missing out if you didn't stick around and enjoy it. Here's a few things worth your time</p>
            <div class="about-shrewsbury__grid-row">
                <div class="about-shrewsbury__grid-unit">
                    <div class="shrewsbury-fringe-event">
                        <img src="{{ "darwin.jpg" | asset_url }}" >
                        <h3><a href="http://www.bbc.co.uk/history/historic_figures/darwin_charles.shtml">Charles Darwin</a></h3>
                    </div>
                </div><!--
                --><div class="about-shrewsbury__grid-unit">
                    <div class="shrewsbury-fringe-event">
                        <img src="{{ "castle.jpg" | asset_url }}" >
                        <h3><a href="http://www.shrewsburymuseum.org.uk/visit-shrewsbury/shrewsbury-castle/">Shrewsbury castle</a></h3>
                    </div>
                </div><!--
                --><div class="about-shrewsbury__grid-unit">
                    <div class="shrewsbury-fringe-event">
                        <img src="{{ "river.jpg" | asset_url }}" >
                        <h3><a href="http://www.sabrinaboat.co.uk/">Sabrina river cruises</a></h3>
                    </div>
                </div><!--
                --><div class="about-shrewsbury__grid-unit">
                    <div class="shrewsbury-fringe-event">
                        <img src="{{ "market.jpg" | asset_url }}" >
                        <h3><a href="http://www.markethallshrewsbury.co.uk/">Shrewsbury Market</a></h3>
                    </div>
                </div><!--
                --><div class="about-shrewsbury__grid-unit">
                    <div class="shrewsbury-fringe-event">
                        <img src="{{ "quarry.jpg" | asset_url }}" >
                        <h3><a href="http://www.visitshrewsbury.com/the-quarry.php">The Quarry</a></h3>
                    </div>
                </div><!--
                --><div class="about-shrewsbury__grid-unit">
                    <div class="shrewsbury-fringe-event">
                        <img src="{{ "abbey.jpg" | asset_url }}" >
                        <h3><a href="http://www.visitshrewsbury.com/shrewsbury-abbey.php">Shrewsbury Abbey</a></h3>
                    </div>
                </div><!--
                --><div class="about-shrewsbury__grid-unit">
                    <div class="shrewsbury-fringe-event ">
                        <img src="{{ "shrewsbury-logo.png" | asset_url }}" class="add-border">
                        <p><a href="http://www.visitshrewsbury.com/">More at Visit Shrewsbury</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
{% block close-wrapper %}
{% endblock %}
