{% block title %}Sponsors{% endblock %}
{% block open-wrapper %}
{% endblock %}
{% block content %}
<div class="sponsors">
    <div class="hero hero--short hero--border">
        <div class="wrapper">
            <h1>Our sponsors</h1>
            <p class="subtitle">Without whom this wouldn't be possible</p>
        </div>
    </div>

    <div class="sponsors__content">
        <div class="wrapper">

            <div class="tickets__grid-row">

            <div class="tickets__primary-grid-unit">



            <div class="sponsors-tier">
                <h2>Platinum+</h2>
                <div class="sponsors__grid-row">
                    <div class="sponsors__grid-unit sponsors__grid-unit--large">
                        <div class="sponsor sponsor--platinum-plus">
                            <a href="http://www.heartinternet.uk" rel="nofollow">
                                <div class="sponsor__logo">
                                   <img src="{{ "heart-internet.jpg" | asset_url }}" alt="Heart Internet Logo" />
                                </div>
                                <h3>Heart Internet</h3>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--large">
                        <div class="sponsor sponsor--platinum-plus">
                            <a href="http://zengenti.com/en-gb/index.aspx" rel="nofollow">
                                <div class="sponsor__logo">
                                    <img src="{{ "zengenti.jpg" | asset_url }}" alt="Zengenti Logo" />
                                </div>
                                <h3>Zengenti</h3>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--large">
                        <div class="sponsor sponsor--platinum-plus">
                            <a href="http://www.pebblepad.co.uk/" rel="nofollow">
                                <div class="sponsor__logo">
                                    <img src="{{ "PebblePad.jpg" | asset_url }}" alt="PebblePad Logo" />
                                </div>
                                <h3>PebblePad</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sponsors-tier">
                <h2>Platinum</h2>
                <div class="sponsors__grid-row">
                    <div class="sponsors__grid-unit sponsors__grid-unit--med">
                        <div class="sponsor sponsor--platinum">
                            <a href="http://www.greenfield-it.co.uk/" rel="nofollow">

                                    <div class="sponsor__logo">
                                        <img src="{{ "greenfields.jpg" | asset_url }}" alt="Greenfield IT Recruitment Logo" />
                                    </div>
                                    <h3>Greenfield IT Recruitment</h3>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--med">
                        <div class="sponsor sponsor--platinum">
                            <a href="http://www.theweborchard.com/" rel="nofollow">
                                        <div class="sponsor__logo">
                                            <img src="{{ "web-orchard.jpg" | asset_url }}" alt="The Web Orchard Logo" />
                                        </div>
                                        <h3>The Web Orchard</h3>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--med">
                        <div class="sponsor sponsor--platinum">
                            <a href="http://www.psycle.com/" rel="nofollow">
                                        <div class="sponsor__logo">
                                            <img src="{{ "psycle.jpg" | asset_url }}" alt="Psycle" />
                                        </div>
                                        <h3>Psycle</h3>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="sponsors-tier">
                <h2>Gold</h2>
                <div class="sponsors__grid-row">
                    <div class="sponsors__grid-unit sponsors__grid-unit--small">
                        <div class="sponsor sponsor--gold">
                            <a href="http://siftware.com/" rel="nofollow">
                                <div class="sponsor__logo">
                                
                                    <img src="{{ "siftware.jpg" | asset_url }}" alt="Siftware Logo" />

                                </div>
                                <h3>Siftware</h3>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--small">
                        <div class="sponsor sponsor--gold">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                                <h3>Company name</h3>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--small">
                        <div class="sponsor sponsor--gold">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                                <h3>Company name</h3>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--small">
                        <div class="sponsor sponsor--gold">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                                <h3>Company name</h3>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--small">
                        <div class="sponsor sponsor--gold">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                                <h3>Company name</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sponsors-tier">
                <h2>Silver</h2>
                <div class="sponsors__grid-row">
                    <div class="sponsors__grid-unit sponsors__grid-unit--small">
                        <div class="sponsor sponsor--silver">
                            <a href="http://www.shootonsight.co.uk/">
                                <div class="sponsor__logo">
                                    <img src="{{ "shoot-on-sight.jpg" | asset_url }}" alt="Shoot on Site Logo" />
                                </div>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--small">
                        <div class="sponsor sponsor--silver">
                            <a href="http://www.stonehousephotographic.com/">
                                <div class="sponsor__logo">
                                    <img src="{{ "stonehouse-logo.jpg" | asset_url }}" alt="Stonehouse Photographic" />
                                </div>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--small">
                        <div class="sponsor sponsor--silver">
                            <a href="https://www.campaignmonitor.com/">
                                <div class="sponsor__logo">
                                    <img src="{{ "campaign-monitor.jpg" | asset_url }}" alt="Campaign Monitor" />
                                </div>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--small">
                        <div class="sponsor sponsor--silver">
                            <a href="http://www.freeagent.com/">
                                <div class="sponsor__logo">
                                    <img src="{{ "freeagent.jpg" | asset_url }}" alt="Freeagent" />
                                </div>
                            </a>
                        </div>
                    </div><!--
                    --><div class="sponsors__grid-unit sponsors__grid-unit--small">
                        <div class="sponsor sponsor--silver">
                            <a href="#">
                                <div class="sponsor__logo">
                                    <img src="http://placehold.it/400x200">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sponsors-tier">
                <h2>Micro</h2>
                <div class="micro-sponsors">
                    <ul>
                        <li><a href="http://www.kirstyburgoine.co.uk">Kirsty Burgoine Ltd. </a></li>
                        <li> <a href="http://www.thejoolspaynepartnership.com/">The Jools Payne Partnership </a></li>
                        <li> <a href="http://rebekah-harriman.com/">Rebekah Harriman </a></li>
                        <li> <a href="http://www.greenjellymarketing.co.uk/">Green Jelly Marketing </a></li>
                        <li> <a href="http://stinajones.co.uk/">Stina Jones Illustration </a></li>
                        <li> <a href="http://www.robwmayphotography.co.uk/">Rob W May Photography </a></li>
                        <li> <a href="http://www.marketingshropshire.com/">Marketing Shropshire </a></li>
                        
                    </ul>
                </div>
            </div>

            </div>


            <div class="tickets__secondary-grid-unit">
                <div class="sidebar">
                    <h2>Become a Sponsor</h2>
                    <p>(R)Evolution attracts web / mobile designers and developers actively working within the UK or involved with Startups from all over the country.</p>

                    <p>As a sponsor, you will have the opportunity to meet 200 digital people and tech evangelists in an under-represented region of the country.</p>

                    <a href="/assets/REvolution-Sponsorship-2014.pdf" class="button button--sponsorship">Download the sponsorship pack</a>
                </div>
            </div>

            </div>







        </div>
    </div>
</div>


{% endblock %}
{% block close-wrapper %}
{% endblock %}
{% block scripts %}
{{ "owl.carousel.min.js" | asset_url | script_tag }}
<script>
    $(document).ready(function() {

      $(".js-photos-carousel").owlCarousel({
        items : 2,
        itemsDesktop : [1024,2],
        itemsDesktopSmall : false,
        itemsTablet : false,
        itemsMobile : [480,1] // itemsMobile disabled - inherit from itemsTablet option
      });
    });
</script>
{% endblock %}
